[defaults]
inventory = /home/kkhoja/Code/Ansible/Inventory/inventory.ini
private_key_file = /home/kkhoja/Code/Khurram-key.pem
host_key_checking = False
retry_files_enabled = False
log_path = /home/kkhoja/Code/Ansible/ansible.log

[ssh_connection]
control_path = %(directory)s/%%h-%%r

